.header {
	align-items: flex-start;
	border-bottom: 1px black solid;
	display: flex;
	flex-direction: column;
	height: 80px;
}

@media (max-width: 600px) {
	header img.logo {
		height: 55px
	}
}

@media (min-width: 601px) {
	.header img.logo {
		height: 75px;
		pointer-events: none;
	}
}
